.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.dashboard-header {
    width: 90%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.welcome-section {
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: var(--blue);
}

.welcome-section h2 {
    font-size: 2.2rem;
}

.welcome-section p {
    font-size: .9rem;
}

.quick-stats {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stat-card {
    background-color: white;
    width: 25%;
    height: 66%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.436);
    cursor: pointer;
}

.stat-info {
    width: 60%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: var(--blue);
}

.stat-icon {
    width: 25%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
}

.stat-icon i {
    font-size: 1.2rem;
}

.quick-action-conatiner {
    width: 90%;
    height: 50vh;
}

.quick-actions-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.quick-actions-section h2 {
    width: 100%;
    height: 7%;
    color: var(--blue);
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    font-weight: 600;
}

.action-cards {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action-card {
    width: 27%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(199, 199, 199);
}

.action-icon {
    width: 20%;
    height: 28%;
    background-color: var(--blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.1rem;
    color: var(--white);
}

.action-deatils {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.btn-primary,
.btn-outline {
    width: 27%;
    height: 26%;
    background-color: var(--blue);
    color: var(--white);
    border: 0px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary:hover,
.btn-outline:hover {
    scale: .95;
}

.action-deatils h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--blue);
}

.action-deatils p {
    font-size: .9rem;
    color: var(--gray);
}

.recent-applications {
    width: 90%;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 3%;

}

.section-header {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-header h2 {
    color: var(--blue);
    font-size: 1.9rem;
    font-weight: 600;
}

.section-header a {
    text-decoration: none;
    color: var(--blue);
    position: relative;
}

.applications-list {
    width: 100%;
    min-height: 0vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 130px;
    gap: 10px;
}


.application-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.473);
    border-radius: 10px;
}

.applicant-info {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.applicant-avatar {
    width: 20%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.applicant-avatar h3 {
    width: 80%;
    height: 90%;
    border-radius: 50%;
    background-color: var(--lblue);
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.applicant-details {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: var(--blue);
}

.applicant-details h2 {
    font-weight: 500;
}

.applied-for {
    color: var(--gray);
    font-size: .83rem;
}

.application-status {
    width: 20%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.application-actions {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.application-time,
.status-badge {
    color: var(--blue);
}

.application-actions button {
    width: 60%;
    height: 40%;
}

.view-all-link::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 0%;
    height: 9%;
    background-color: rgba(128, 128, 128, 0.384);
    transition: all .5s ease-in-out;

}

.view-all-link:hover::before {
    width: 100%;
}

.job-postings-section {
    width: 90%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 2%;
}

.section-headers {
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-headers h2 {
    color: var(--blue);
}

.post-button {
    width: 10%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.job-postings-grid {
    width: 100%;
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 550px;
    align-items: center;
    justify-items: center;
}

.job-posting-card {
    border-radius: 10px;
    background-color: white;
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.267)
}


.job-header {
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.job-title-section {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
}

.job-title-section h3 {
    font-size: 1.3rem;
    color: var(--blue);
}


.job-status {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.job-status .status-badge {
    width: 22%;
    height: 52%;
    background-color: green;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.job-meta {
    width: 60%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.job-type {
    width: 45%;
    height: 100%;
    border: 2px dashed var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
}

.job-salary {
    width: 90%;
    color: var(--blue);
}

.job-stats {
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blue);
}

.job-description {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    color: var(--gray);
    font-size: .9rem;
}


.job-actions {
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.job-actions button {
    width: 40%;
    height: 80%;
}


@media (max-width:480px) {

    .main-container {
        padding-top: 10%;
    }

    .dashboard-header {
        display: flex;
        flex-direction: column;
        height: 50vh;
        gap: 30px;
    }

    .welcome-section {
        width: 90%;
    }

    .quick-stats {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .stat-card {
        width: 70%;
        height: 50%;
    }

    .stat-info {
        padding: 0px 10px 0px 0px;
    }

    .quick-action-conatiner {
        height: 60vh;
        padding: 30px 0;
    }

    .quick-actions-section {
        gap: 20px;
    }

    .action-cards {
        flex-direction: column;
        height: 100%;
        gap: 20px;
    }

    .action-card {
        width: 90%;
        height: 140%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .view-all-link {
        display: none;
    }

    .section-header h2 {
        font-size: 25px;
    }

    .section-headers button {
        display: none;
    }

    .job-postings-grid {
        width: 100%;
        min-height: 60vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        gap: 30px;
    }

    .job-posting-card {
        width: 100%;
        gap: 30px;
        height: auto;
        padding: 20px 0;

    }

    .job-header {
        gap: 20px;
    }

    .job-status {
        display: flex;
        flex-direction: row;
        width: 90%;
    }

    .job-meta {
        width: 100%;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .status-badge {
        padding: 0 10px;
    }

    .job-actions {
        height: 20px;
        width: 100%;
    }

     .application-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20vh;
        gap: 5px;
    }
    .application-status{
        display: none;
    }

    .application-status{
        background-color: black;
    }
}


@media (min-width: 481px) and (max-width:768px) {

    .main-container {
        padding-top: 10%;
    }

    .dashboard-header {
        display: flex;
        flex-direction: column;
        height: 20vh;
        gap: 30px;
    }

    .welcome-section {
        width: 90%;
    }

    .quick-stats {
        width: 100%;
        height: 30vh;
    }

    .stat-card {
        height: 10vh;
        gap: 10px;
        padding: 5px;
    }

    .action-card {
        width: 40%;
        text-align: center;
    }

    .action-icon {
        width: 25%;
        height: 25%;
    }

    .application-card {
        display: flex;
        justify-content: space-around;
        height: 12vh;
        gap: 5px;
    }

    .applicant-avatar {
        width: 8vh;
        height: 8vh;
    }

    .post-button {
        width: 18%;
    }

    .job-postings-grid {
        width: 100%;
        min-height: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 500px;
        align-items: center;
        justify-items: center;
    }

    .job-posting-card {
        width: 90%;
    }

    .job-meta {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .job-type {
        width: 90%;

    }
}

@media (min-width:769px) and (max-width: 1024px) {
    .main-container {
        padding-top: 3%;
    }

    .dashboard-header {
        display: flex;
        flex-direction: column;
        height: 20vh;
        gap: 30px;
    }

    .welcome-section {
        width: 90%;
    }

    .quick-stats {
        width: 80%;
        height: 30vh;
    }

    .stat-card {
        height: 10vh;
        gap: 10px;
        padding: 5px;
    }

    .action-card {
        width: 40%;
        text-align: center;
    }

    .action-icon {
        width: 25%;
        height: 25%;
    }

    .application-card {
        display: flex;
        justify-content: space-around;
        height: 12vh;
        gap: 5px;
    }

    .post-button {
        width: 14%;
    }

    .job-postings-grid {
        width: 100%;
        min-height: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 500px;
        align-items: center;
        justify-items: center;
    }

    .job-posting-card {
        width: 90%;
    }

    .job-meta {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .job-type {
        width: 45%;

    }

}