:root {
    --blue: #0384fc;
    --white: white;
    --black: #000;
    --gray: #797272;
    --lblue: #cfe5fa;
}

::selection {
    background: var(--white);
    color: var(--blue);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 6px;
    border: 3px solid #f0f0f0;
}

* {
    font-family: poppins, sans-serif;
    transition: all 0.4s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,
.company-title {
    font-family: "outfit", sans-serif;
}

.navbar {
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0%;
    z-index: 9999;
    
}

.nav-container {
    /* background-color: white; */
    background: linear-gradient(135deg, var(--white) 0%, #e8f4fd 100%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 15px grey;

}

.nav-logo {
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
}

.nav-logo a {
    text-decoration: none;
    color: var(--blue);
}

.nav-actions {
    width: 16%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-actions a {
    width: 56%;
    height: 80%;
    text-decoration: none;
}

.header-post-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--blue);
    border: 0px solid transparent;
    border-radius: 10px;
}

.nav-profile {
    width: 15%;
    height: 100%;
}

.profile-dropdown {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
}

.avater-image-container {
    width: 25%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-avatar-header{
    width: 80%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--lblue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
}


.profile-details {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--blue);
}

.profile-name {
    font-weight: 400;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    width: 150%;
    height: 590%;
    background-color: var(--white);
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 0px 10px grey;
    border: 0px solid transparent;
    border-radius: 10px;
}

.dropdown-menu a {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.dropdown-item {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.dropdown-item div {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3rem;
    color: var(--blue);
}


.dropdown-item div p {
    width: 80%;
}

.dropdown-item:hover {
    background-color: rgba(196, 194, 194, 0.363);
}

.profile-dropdown:hover>.dropdown-menu {
    display: flex;
}

.fas.fa-chevron-down {
    transition: all 0.5s ease-in-out;
}

.profile-dropdown:hover .fas.fa-chevron-down {
    transform: rotate(180deg);
}


body {
    width: 100%;
    min-height: 100vh;
    padding-top: 8vh;

}


/* Mobile Styles */
@media (max-width: 480px) {

    .navbar {
        height: 10vh;
        width: 100%;
    }

    .nav-container {
        justify-content: space-between;
        padding: 0 30px;
    }

    .nav-logo {
        width: auto;
    }

    .nav-logo h1 {
        font-size: 1.2rem;
    }

    
    .header-post-button{
        display: none;
    }

    .nav-profile {
        width: 25%;
        justify-content: center;
        
    }
    .dropdown-menu {
        top: 100%;
        right: 10%;
        width: 240%;
        height: 480%;
        align-items: flex-start;
        padding: 10px;
        border-radius: 5px;
        gap: 10px;
    }

    .profile-dropdown{
        width: 100%;
    }

    .profile-section-header {
        justify-content: flex-end;
    }

    .profile-name,
    .fas.fa-chevron-down {
        display: none;
    }
    .avater-image-container{
        width: 100%;
    }
    .avatar-image {
        width: 95px;
        height: 55px;
    }


    .dropdown-item div {
        width: 90%;
        justify-content: space-between;
    }

    .dropdown-item div p,
    .dropdown-item div i {
        font-size: 0.9rem;

    }

    .menu-icon {
        display: block;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--white);
        position: absolute;
        top: 10vh;
        left: 0;
        box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
    }
}

/* Tablet Styles */
@media (min-width: 480px) and (max-width: 768px) {
  
    .nav-container {
        justify-content: space-between;
        padding: 0 30px;
    }

    .nav-logo {
        width: 20%;
        margin-left: 8%;
    }

    .header-post-button{
        display: none;
    }

    .nav-profile {
        width: 27%;
        display: flex;
        justify-content: space-between;
    }

    .profile-section-header {
        justify-content: flex-end;
    }

    .avatar-image {
        width: 45px;
        height: 45px;
    }
  
    .dropdown-item div p,
    .dropdown-item div i {
        font-size: 1rem;
    }

}

@media (min-width:769px) and (max-width:1024px) {

    .nav-container {
        justify-content: space-between;
    }
    .nav-logo{
        margin-left: 10%;
    }
    .header-post-button{
       width: 16vh;
    }

    .nav-profile {
        width: 25%;
        justify-content: center;
        
    }
    .dropdown-menu {
        top: 100%;
        right: 10%;
        width: 110%;
        height: 480%;
        align-items: flex-start;
        padding: 10px;
        border-radius: 5px;
        gap: 10px;
    }

    .dropdown-item div {
        width: 90%;
        justify-content: space-between;
    }

    
    .dropdown-item div p,
    .dropdown-item div i {
        font-size: 1.2rem;
    }


    .menu-icon {
        display: block;
    }

    
}