:root {
    --blue: #0384fc;
    --white: white;
    --black: #000;
    --gray: #797272;
    --lblue:#e8f4fd;
}

::selection {
    background: var(--white);
    color: var(--blue);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 6px;
    border: 3px solid #f0f0f0;
}

* {
    font-family: poppins, sans-serif;
    transition: all 0.4s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,
.company-title {
    font-family: "outfit", sans-serif;
}

.navbar {
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0%;
    z-index: 9999;
    
}

.nav-container {
    /* background-color: white; */
    background: linear-gradient(135deg, var(--white) 0%, #e8f4fd 100%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 15px grey;

}

.nav-logo {
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
}

.nav-logo a {
    text-decoration: none;
    color: var(--blue);
}

.nav-actions {
    width: 16%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-actions a {
    width: 56%;
    height: 80%;
    text-decoration: none;
}

.header-post-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--blue);
    border: 0px solid transparent;
    border-radius: 10px;
}

.nav-profile {
    width: 15%;
    height: 100%;
}

.profile-dropdown {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
}

.avater-image-container {
    width: 22%;
    height: 70%;
}

.avater-image-container img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.profile-details {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--blue);
}

.profile-name {
    font-weight: 400;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 490%;
    background-color: var(--white);
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 0px 10px grey;
    border: 0px solid transparent;
    border-radius: 10px;
}

.dropdown-menu a {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.dropdown-item {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.dropdown-item div {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    color: var(--blue);
}


.dropdown-item div p {
    width: 80%;
}

.dropdown-item:hover {
    background-color: rgba(196, 194, 194, 0.363);
}

.profile-dropdown:hover>.dropdown-menu {
    display: flex;
}

.fas.fa-chevron-down {
    transition: all 0.5s ease-in-out;
}

.profile-dropdown:hover .fas.fa-chevron-down {
    transform: rotate(180deg);
}


body {
    width: 100%;
    min-height: 100vh;
    padding-top: 8vh;

}