:root {
            --blue: #0384fc;
            --white: #f5f6f7;
            --black: #000;
            --gray: #797272;
    }

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom, #f9f9f9, #5DADE2);
    align-items: center;
    padding-top: 100px; 
    justify-content: center;
    align-items: center;
}

.signup-container {
  width: 400px;
  margin: 8% auto;
  background: #ffffff;
  padding: 4%;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  padding-top: 4px;
}

.signup-container h2 {
  text-align: center;
  color: #007bff;
  margin-bottom: 25px;
  padding-top: 0px;
}

form label {
  font-weight: bold;
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
}

form input,
form textarea,
form select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 10px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.signup-container p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-container a {
  color: #007bff;
  text-decoration: none;
}

.navbar {
    position: fixed;
    left:0;
    width: 100%;
    background-color:var(--white);
    color:var(--blue);
    height:10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow-x: auto;
}

.nav-logo {
    font-size: 22px;
    font-weight: bold;
    padding-left: 2%;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-links li a {
    padding: 8px 14px;
    font-size: 16px;
    color:var(--blue);
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
}


.nav-links li a:hover {
    color:var(--gray);
}