header{
    background:whitesmoke;
     display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;        
}
#search{
    padding:15px;
    width:200px;
    border-radius:15px;
    border:1px solid cornflowerblue;
}
a{
    text-decoration: none;
    text-align:right;
    padding:15px;
    color:#58A0C8;
}
.links a:hover{
    background-color:rgb(106, 158, 255);
    border-radius:10px;
    color:white;
}
.quick div{
    display:block;
    margin:auto;
    background-color:white;
    height:250px;
    width:350px;
    text-align: center;
    border-radius: 20px;
    padding:20px;
    margin-left: 50px;
    box-shadow: 2px 2px 2px 2px grey;
    margin-top:10px;
}
.quick button{
    background-color:#4197e3;
    border:2px solid ;
    border-radius:7px;height:40px;width:100;
    color:aliceblue;

}
.quick div:hover{
    transform: scale(1.1,1.1);
    transition:1s;}
.stats div{
    display:inline-block;
    margin-left:50px;
    height:200px;
    width:200px;
    background-color:whitesmoke;
    border-radius:10px;
    padding-left:40px;
    box-shadow:2px 2px 2px grey;
}
.appli{
    background-color:white;
    box-shadow: 2px 2px 2px  2px grey ;
    height:550px;
    width:600px;
    margin-left:50px;
    margin-top:50px;
    border-radius:20px;
    position:relative;
}
.apply-cards div{
     background-color:white;
    box-shadow: 2px 2px 2px  2px grey ;
    height:150px;
    width:500px;
    margin-left:30px;
    margin-top:50px;
    border-radius:10px;
}
.card button{
    position:relative;
    left:150px;
    background-color: #58A0C8;
    border:none;
    border-radius:5px;
    width:100px;
    height: 30px;
    bottom:10px;
    color:white;
}
.card h1,p{
    padding-left:20px;
    padding-top:5px;
}

