* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: poppins, sans-serif;
}

/* Set transitions on specific properties for efficiency */
button,
a,
.tab-btn,
.step-card,
.social-links a {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out, scale 0.3s ease-in-out;
}

/* colors are golobal declared */
:root {
    --blue: #0384fc;
    --white: #f5f6f7;
    --black: #000;
    --gray: #797272;
}

::selection {
    background: var(--white);
    color: var(--blue);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 6px;
    border: 3px solid #f0f0f0;
}

h1,
h2,
h3,
.company-title {
    font-family: "outfit", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    padding-top: 5rem;
    position: relative;
    
}


/* navigation bar css */
.navigation-bar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 5rem;
    background-color: var(--white);
    box-shadow: 0px 0px 20px grey;
    border-bottom: 1px solid var(--gray);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container h1 a {
    text-decoration: none;
    color: var(--blue);
    font-size: 1.8rem;
}

.nav-links {
    width: 30%;
    height: 100%;
}

.nav-links ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.1rem;
}

.nav-links ul li a:hover {
    color: var(--blue);
}

.account-managment {
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.account-managment a {
    width: 60%;
    height: 60%;
    border-radius: 10px;
}

.login-button,
.signup-button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 1rem;
}

.login-button {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
}

.login-button:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 0px solid transparent;
}

.signup-button {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
}

.signup-button:hover {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
}

.mobile-only-buttons {
    display: none;
}

.hamburger {
    display: none;
    font-size: 1.8rem;
    color: var(--blue);
    cursor: pointer;
}

.nav-buttons-desktop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 17%;
    height: 100%;
}

.nav-buttons-desktop a {
    width: 45%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* main css code starts */
.image-overyplay {
    width: 100%;
    height: 93vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image,
.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.text-overlay {
    position: absolute;
    z-index: 100;
    width: 80%;
    height: 60%;
}

.text-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.text-container .title {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 550;
    color: var(--white);
}

.subtitle {
    width: 48%;
    height: 12%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;
}

.landing-search {
    width: 40%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container {
    width: 96%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

input:focus {
    outline: none;
}

.search-container input {
    width: 98%;
    height: 96%;
    border-radius: 30px;
    border: 0px solid transparent;
    padding-left: 11%;
    font-size: 1.1rem;
}

.search-container svg {
    position: absolute;
    top: 25%;
    left: 4%;
}

.search-btn {
    position: absolute;
    left: 79%;
    width: 15%;
    height: 70%;
    border: 0px solid transparent;
    border-radius: 20px;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}

.buttons-container {
    width: 30%;
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.find-jobs,
.post-jobs {
    width: 35%;
    height: 90%;
    font-size: 1.1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.find-jobs {
    background-color: var(--blue);
    color: var(--white);
}

.find-jobs:hover {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
    scale: 0.98;
}

.post-jobs {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
}

.post-jobs:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
    scale: 0.98;
}

/* how it works section css */
.how-it-works {
    width: 100%;
    height: 80vh;
    padding: 50px 0;
}

.work-container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.section-header {
    width: 80%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.section-header h2 {
    font-size: 2.1rem;
    margin-bottom: 10px;
}

.section-header p {
    color: var(--gray);
    font-size: 1.2rem;
}

.user-type-tabs {
    width: 80%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.tab-btn {
    width: 25%;
    height: 100%;
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
    font-size: 1.1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.job-seekers {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
}

.tab-btn:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
}

.tab-content {
    width: 80%;
    height: 36vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps-grid {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.step-card {
    width: 25%;
    height: 80%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 0px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
    padding: 20px;
    text-align: center;
}

.step-card:hover {
    box-shadow: none;
    border: 1px solid var(--blue);
    scale: 0.98;
}

.step-icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(45, 119, 230);
    margin-bottom: 15px;
}

.step-icon i {
    color: var(--white);
    font-size: 2rem;
}

.step-card h3 {
    margin-bottom: 10px;
}

.step-card p {
    width: 100%;
    height: auto;
    color: var(--gray);
}

.inactive {
    display: none;
}

/* Features Section CSS */
.features {
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.features-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 50px;
}

.features-grid {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 50px;
}

.feature-card {
    width: 74%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.feature-card.reverse {
    flex-direction: row-reverse;
}

.feature-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.feature-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.feature-image.mobile img {
    max-width: 300px;
}

.feature-content {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 15px;
}

.feature-content h3 {
    font-size: 1.9rem;
    
}

.feature-content p {
    font-size: 1.2rem;
    color: var(--gray);
    text-align: left;
}

/* Benefits Section CSS */
.benefits {
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.benifits-container {
    width: 100%;
    height: 100%;
}

.benefits-grid {
    background-color: rgba(128, 128, 128, 0.105);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    padding: 50px 20px;
    gap: 40px;
}

.benefits-column {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}

.benefits-column h3 {
    width: 100%;
    height: 14%;
    font-size: 1.9rem;
    font-weight: 500;
    text-align: center;
}

.benefit-item {
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 0px 2px var(--gray);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 20px;
    gap: 20px;
}

.benefit-item i {
    font-size: 1.4rem;
    color: var(--blue);
}

.benefit-item div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    gap: 5px;
}

.benefit-item div h4 {
    font-size: 1.1rem;
    color: var(--black);
    font-weight: 400;
}

.benefit-item div p {
    font-size: 1rem;
    color: var(--gray);
}

/* Call to Action Section CSS */
.call-to-action {
    width: 100%;
    height: auto;
    padding: 80px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-background,
.cta-background img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: brightness(0.6);
    z-index: 1;
}

.cta-container {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.cta-content {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    color: var(--white);
}

.cta-content h2 {
    font-size: 2.8rem;
    font-weight: 500;
}

.cta-content p {
    font-size: 1.2rem;
    width: 100%;
}

.cta-buttons {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.cta-buttons a {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--blue);
    color: var(--white);
    border: 0px solid transparent;
    border-radius: 11px;
    cursor: pointer;
    font-size: 1rem;
}

.cta-buttons a:hover {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
    scale: 0.98;
}

.cta-note {
    color: var(--white);
    margin-top: 15px;
}

/* Footer CSS */
footer {
    width: 100%;
    height: auto;
}

.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #2F3349;
    padding: 50px 20px;
}

.footer-content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 30px;
    gap: 30px;
}

.footer-section {
    width: 18%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

.footer-section.profile {
    width: 25%;
}

.social-links {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.social-links a {
    background-color: var(--blue);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
}

.social-links a:hover {
    background-color: var(--white);
    border: 1px solid var(--blue);
    scale: 0.98;
}

.social-links a:hover i {
    color: var(--blue);
}

.social-links a i {
    font-size: 1.3rem;
    color: var(--white);
}

.footer-section h3,
.footer-section h4 {
    width: 100%;
    color: var(--blue);
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.footer-section h4 {
    font-size: 1rem;
}

.footer-section ul {
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    position: relative;
}

.footer-section ul li a::before {
    content: "";
    width: 0%;
    height: 3%;
    background-color: beige;
    position: absolute;
    top: 100%;
}

.footer-section ul li a:hover::before {
    width: 100%;
    transition: width 0.4s ease-in-out;
}

.footer-bottom {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin-top: 20px;
    text-align: center;
}

.footer-bottom a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
}

/* Responsive Styles */
/* For Tablets and smaller desktops (768px - 1023px) */
@media (max-width: 1024px) {
    body {
        padding-top: 60px;
        /* Adjust padding for fixed nav */
    }

    .navigation-bar {
        height: 60px;
    }

    .logo-container h1 a {
        font-size: 1.5rem;
    }

    .nav-links {
        width: 40%;
    }

    .nav-links ul li a {
        font-size: 1rem;
    }

    .nav-buttons-desktop {
        width: 25%;
    }

    .nav-buttons-desktop a {
        width: 45%;
    }

    .login-button,
    .signup-button {
        font-size: 0.9rem;
    }

    .nav-buttons-desktop a button {
        width: 100%;
        height: 100%;
    }

    .text-container .title {
        font-size: 2rem;
    }

    .subtitle {
        width: 60%;
        font-size: 1.2rem;
    }

    .landing-search {
        width: 60%;
    }

    .buttons-container {
        width: 50%;
    }


    .tab-btn {
        font-size: 1rem;
        width: 40%;
    }

    .step-card {
        width: 30%;
        height: auto;
    }

    .features-grid .feature-card {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .feature-card.reverse {
        flex-direction: column;
    }

    .feature-image,
    .feature-content {
        width: 80%;
    }

    .feature-content h3 {
        font-size: 1.5rem;
    }

    .cta-content h2 {
        font-size: 2rem;
    }

    .cta-buttons a {
        font-size: 0.9rem;
        padding: 12px 20px;
    }

    .footer-content {
        justify-content: space-between;
        gap: 20px;
    }

    .footer-section {
        width: 45%;
        margin-bottom: 20px;
    }

    .footer-section.profile {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .social-links {
        justify-content: center;
    }
}


/* For Mobile devices (up to 767px) */
@media (max-width: 767px) {
    body {
        padding-top: 60px;
    }

    .navigation-bar {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
        height: 60px;
    }

    .nav-buttons-desktop {
        display: none;
    }

    .logo-container {
        width: auto;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--white);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
    }

    .nav-links ul {
        flex-direction: column;
        padding: 0;
    }

    .nav-links ul li {
        margin-bottom: 15px;
    }

    .account-managment {
        display: none;
    }

    .mobile-only-buttons {
        display: block;
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    .mobile-only-buttons .login-button,
    .mobile-only-buttons .signup-button {
        width: 55%;
        padding: 12px 20px;
        height: auto;
    }

    .hamburger {
        display: block;
    }
    .features{
       margin-top: 90%;
    }

    .text-overlay {
        width: 90%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-container .title {
        width: 100%;
        font-size: 1.8rem;
        text-align: center;
    }

    .subtitle {
        width: 100%;
        font-size:0.9rem;
    }

    .landing-search {
        width: 100%;
        height: 5vh;
    }

    .search-container input {
        width: 100%;
        padding-left: 15%;
    }

    .search-container svg {
        left: 6%;
    }

    .search-btn {
        left: 75%;
        width: 20%;
        font-size: 0.8rem;
    }

    .buttons-container {
        width: 90%;
        flex-direction: column;
        gap: 35px;
    }

    .find-jobs,
    .post-jobs {
        width: 60%;
        height: 50px;
    }

    .section-header {
        width: 90%;
    }

    .section-header h2 {
        font-size: 1.5rem;
    }

    .section-header p {
        font-size: 0.9rem;
    }

    .user-type-tabs {
        width: 90%;
        height: 6vh;
        
      
    }

    .steps-grid {
        flex-direction: column;
        gap: 30px;
    }

    .step-card {
        width: 90%;
    }

    .features-grid .feature-card {
        width: 90%;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .feature-card.reverse {
        flex-direction: column;
    }

    .feature-image,
    .feature-content {
        width: 100%;
    }

    .feature-content h3 {
        font-size: 1.3rem;
        text-align: center;
    }

    .feature-content p {
        font-size: 1rem;
        text-align: center;
    }

    .benefits-grid {
        grid-template-columns: 1fr;
    }

    .benefits-column {
        width: 90%;
    }

    .cta-content {
        width: 90%;
    }

    .cta-content h2 {
        font-size: 1.5rem;
    }

    .cta-content p {
        font-size: 0.9rem;
    }

    .cta-buttons {
        flex-direction: column;
        width: 65%;
    }

    .cta-buttons a {
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 90%;
        text-align: center;
        align-items: center;
    }

    .footer-section h3,
    .footer-section h4 {
        font-size: 1.2rem;
    }

    .footer-section ul {
        align-items: center;
    }

    .social-links {
        justify-content: center;
    }
}