/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  width: 100%;
  min-height: 100vh;
  padding-top: 60px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #f9f9f9;
}

/* Main Layout */
.main-content {
  padding: 0 30px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

/* Header */
.header h2 {
  color: #007BFF;
  padding-bottom: 10px;
  font-size: 24px;
}

.header p {
  color: #6c757d;
  padding-left: 10px;
}

/* Quick Stats */
.quick-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  text-align: center;
}

.stat-card {
  width: 180px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #6c757d;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  gap: 10px;
  transition: all 0.3s ease;
}

.stat-card:hover {
  border-color: #007BFF;
  transform: scale(0.98);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.star-icon {
  background-color: #007BFF;
  color: #fff;
  border-radius: 8px;
  padding: 15px;
}

/* Section Header */
.section-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}

.section-header h2 {
  color: #007BFF;
  font-size: 20px;
}


.grid-container {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 600px;
  gap: 10px;
  align-items: center;
  justify-items: center;
  margin-bottom: 3%;
}

.job-card {
  width: 90%;
  height: 80%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 0px 5px grey;
  border-radius: 15px;
  cursor: pointer;
}

.job-card:hover {
  border: 1px solid var(--blue);
  box-shadow: none;
  scale: .98;
}


.job-header {
  width: 90%;
  height: 42%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.logo-container {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.company-logo {
  width: 15%;
  height: 80%;
  background-color: var(--lblue);
  color: var(--blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}



.save-container {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-job-btn {
  width: 56%;
  height: 56%;
  background-color: white;
  border: none;
  cursor: pointer;
  border: 0px solid transparent;
  border-radius: 50%;
}

.save-job-btn i {
  font-size: 1.6rem;
  color: var(--blue);
}



.job-basic-info {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.job-title {
  width: 100%;
  font-size: 1.7rem;
  color: var(--blue);
}

.company-name {
  width: 100%;
  font-size: 1.1rem;
  color: var(--gray);
}

.job-meta {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.job-location {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
}

.job-location i {
  font-size: 1.1rem;
  color: var(--blue);
  width: 8%;
}

.job-location p {
  font-size: 1rem;
  color: var(--gray);
}

.job-type {
  width: 27%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  border: 2px dashed var(--blue);
  border-radius: 7px;
}

.job-details {
  width: 90%;
  height: 10%;
}

.job-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-salary {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.job-time i,
.job-salary i {
  font-size: 1rem;
  color: var(--blue);
  width: 8%;
}

.job-time p,
.job-salary p {
  font-size: 1rem;
}

.job-time {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.job-time i {
  width: 12%;
}

.job-description {
  display: flex;
  align-items: center;
  text-align: justify;
  width: 90%;
  height: 25%;
}

.job-footer {
  width: 90%;
  height: 20%;
}

.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-posted {
  width: 50%;
  height: 45%;
  background-color: white;
  color: green;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.apply-container {
  width: 30%;
  height: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apply-container button {
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  background-color: var(--blue);
  color: var(--white);
}



/* Responsive Design */


@media (max-width: 375px) {

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    padding-top: 20px;
    gap: 40px;
  }

  .job-card {
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    gap: 10px;
  }

  .job-location p,
  .job-type,
  .job-salary p,
  .job-time p,
  .job-description,
  .job-posted,
  .apply-container button {
    font-size: 14px;
    padding-left: 3px;
  }


}



@media(min-width: 376px) and (max-width: 480px) {
  .quick-stats {
    width: 100%;
  }

  .stat-card {
    width: 45%;
  }

  .stat-info p {
    font-size: 13px;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    padding-top: 20px;
    gap: 40px;
  }

  .job-card {
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    gap: 10px;
  }

  .job-location p,
  .job-type,
  .job-salary p,
  .job-time p,
  .job-description,
  .job-posted,
  .apply-container button {
    font-size: 14px;
    padding-left: 3px;
  }
}


@media (min-width: 426px) and (max-width: 768px) {

  .header {
    width: 45%;
  }

  .quick-stats {
    width: 50%;
    height: 30%;
  }
  
  .stat-card {
    width: 45%;
    height: 50%;
  }

  .stat-info,
  .star-icon i {
    font-size: 13px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 380px;
    margin-top: 20px;
    gap: 30px;
  }

  .job-card {
    height: 100%;
    padding: 10px 0;
    display: flex;
    gap: 10px;
  }

  .job-location p,
  .job-type,
  .job-salary p,
  .job-time p,
  .job-description,
  .job-posted,
  .apply-container button {
    font-size: 12px;
    padding-left: 3px;
   
  }
}




@media (min-width: 769px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 380px;
    padding-top: 40px;
    gap: 30px;
  }
 .job-card {
    height: 100%;
    padding: 10px 0;
    display: flex;
    gap: 10px;
  }

  .job-location p,
  .job-type,
  .job-salary p,
  .job-time p,
  .job-description,
  .job-posted,
  .apply-container button {
    font-size: 12px;
    padding-left: 3px;
  }


}