/* colors are golobal declared */
:root {
    --blue: #0384fc;
    --white: white;
    --black: #000;
    --gray: #797272;
    --lblue: #cfe5fa;
}

::selection {
    background: var(--white);
    color: var(--blue);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 6px;
    border: 3px solid #f0f0f0;
}

* {
    font-family: poppins, sans-serif;
    transition: all 0.4s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,
.company-title {
    font-family: "outfit", sans-serif;
}

body {
    padding-top: 8vh;
}

.navbar {
    width: 100%;
    height: 8vh;
    background-color: var(--white);
    position: fixed;
    top: 0%;
    z-index: 99999;
    box-shadow: 0px 0px 10px grey;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-logo {
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-logo a {
    text-decoration: none;
    color: var(--blue);
}

.company-logo-h1 {
    color: var(--blue);
}

.nav-search {
    width: 32%;
    height: 100%;
}

.search-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-field {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.loction {
    position: absolute;
    left: 3%;
    font-size: 1.1rem;
}


.search-field input[type="text"] {
    width: 100%;
    height: 70%;
    padding-left: 7%;
    font-size: 1rem;
    border: 1px solid grey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    outline: 0px solid transparent;
}

.search-btn {
    width: 10%;
    height: 67%;
    position: absolute;
    left: 89.9%;
    border: 0px solid transparent;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--blue);
}

.search-btn i {
    font-size: 1rem;
    color: var(--white);
}

.nav-profile {
    width: 16%;
    height: 100%;
}

.profile-dropdown {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-section-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.profile-section-header:hover>.dropdown-menu {
    display: flex;
}

.profile-section-header:hover>i {
    transform: rotate(180deg);
}



.avatar-image {
    width: 23%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--lblue);
    color: var(--blue);
}



.profile-name {
    color: var(--blue);
}

.fas.fa-chevron-down {
    color: var(--blue);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    width: 120%;
    height: 490%;
    z-index: 999;
    background-color: var(--white);
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 0px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 2px grey;
}


.webpage-options {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.dropdown-item {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 7px;
}

.dropdown-item div {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black);

}


.dropdown-item:hover {
    background-color: rgba(177, 177, 177, 0.205);
}

.dropdown-item div i {
    font-size: 1.3rem;
    color: var(--blue);
}

.dropdown-item div p {
    width: 80%;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: var(--blue);
}

body {
    background-color: #f8fafc;
}

/* Mobile Styles */
@media (max-width: 480px) {

    .navbar {
        height: 10vh;
        width: 100%;
    }

    .nav-container {
        justify-content: space-between;
        padding: 0 3%;
    }

    .nav-logo {
        width: auto;
    }

    .nav-logo h1 {
        font-size: 1.2rem;
    }

    .nav-search {
        display: none;
    }

    .nav-profile {
        width: 30%;
        position: relative;
    }

    .profile-section-header {
        justify-content: flex-end;
    }

    .profile-name,
    .fas.fa-chevron-down {
        display: none;
    }

    .avatar-image {
        width: 45px;
        height: 45px;
    }

    .dropdown-menu {
        top: 100%;
        right: 0;
        width: 150%;
        height: 25 0%;
        align-items: flex-start;
        padding: 10px;
        border-radius: 5px;

    }

    .dropdown-item div {
        width: 90%;
        justify-content: space-between;
    }

    .dropdown-item div p,
    .dropdown-item div i {
        font-size: 0.9rem;

    }

    .menu-icon {
        display: block;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--white);
        position: absolute;
        top: 10vh;
        left: 0;
        box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
    }
}

/* Tablet Styles */
@media (min-width: 480px) and (max-width: 768px) {
  
    .nav-container {
        justify-content: space-between;
        padding: 0 3%;
    }

    .nav-logo {
        width: 20%;
    }

    .nav-search {
        display: none;
    }

    .nav-profile {
        width: 45%;
        display: flex;
        justify-content: space-evenly;
    }

    .profile-section-header {
        justify-content: flex-end;

    }
    .avatar-image {
        width: 45px;
        height: 45px;
    }
  
    .dropdown-item div p,
    .dropdown-item div i {
        font-size: 1rem;
    }

}

@media (min-width:769px) and (max-width:1024px) {
    .navbar {
        padding: 0 30px;
    }

    .nav-container {
        justify-content: space-between;
    }

    .nav-profile {
        width: 25%;
        justify-content: flex-end;
    }
}